In [1]:
import pandas as pd 
import numpy as np

In [2]:
data1 = pd.read_csv('music_chinese.csv')
data2 = pd.read_csv('music_english.csv')
data3 = pd.read_csv('music_original.csv')
data = pd.DataFrame()

In [3]:
data = pd.concat([data1,data2,data3],axis=0)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3147 entries, 0 to 1048
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   3147 non-null   object
 1   score   3147 non-null   object
 2   tag     3142 non-null   object
dtypes: object(3)
memory usage: 98.3+ KB

In [4]:
data_1 = data.drop(data[data['score'] == 'score'].index)
data_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 0 to 1048
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   3000 non-null   object
 1   score   3000 non-null   object
 2   tag     2995 non-null   object
dtypes: object(3)
memory usage: 93.8+ KB

In [5]:
data_1 = data_1.drop(data[data['score'] == '0'].index)
data_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2901 entries, 0 to 1048
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   2901 non-null   object
 1   score   2901 non-null   object
 2   tag     2896 non-null   object
dtypes: object(3)
memory usage: 90.7+ KB

In [6]:
data_1['tag1'] = data_1['tag'].str.split('/').str[0]
data_1['tag2'] = data_1['tag'].str.split('/').str[1]
data_1['tag3'] = data_1['tag'].str.split('/').str[2]
data_1['tag4'] = data_1['tag'].str.split('/').str[3]
data_1['tag5'] = data_1['tag'].str.split('/').str[4]
del data_1['tag']
print(data_1.head())

                        title score                         tag1  \
0                    蔡徐坤 - 情人   7.3                         蔡徐坤
1                   周杰伦 - 七里香   8.1                         周杰伦
2                  田馥甄 - 无人知晓   7.8                         田馥甄
3  蔡健雅 Tanya Chua... - 在哪里都很好   8.6  蔡健雅 Tanya Chua,王源 Roy Wang
4       鹿晗 Luhan - π-volume.4   8.4                    鹿晗 Luhan

           tag2  tag3           tag4 tag5
0   2020-05-24    单曲    数字(Digital)    流行
1         2004    专辑             CD    流行
2   2020-09-25    专辑             CD    流行
3   2020-11-05    单曲    数字(Digital)    流行
4   2020-10-27    EP    数字(Digital)    流行

In [7]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2901 entries, 0 to 1048
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   2901 non-null   object
 1   score   2901 non-null   object
 2   tag1    2896 non-null   object
 3   tag2    2884 non-null   object
 4   tag3    2853 non-null   object
 5   tag4    2722 non-null   object
 6   tag5    2360 non-null   object
dtypes: object(7)
memory usage: 181.3+ KB

In [8]:
data_2 = data_1.dropna(axis=0, how='any')
data_2.info()
data_2.to_csv("data_2.csv",index =False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2360 entries, 0 to 1048
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   2360 non-null   object
 1   score   2360 non-null   object
 2   tag1    2360 non-null   object
 3   tag2    2360 non-null   object
 4   tag3    2360 non-null   object
 5   tag4    2360 non-null   object
 6   tag5    2360 non-null   object
dtypes: object(7)
memory usage: 147.5+ KB

data clean

In [9]:
df = pd.read_csv('data_2.csv',dtype={'score':float})
df.head()

,title,score,tag1,tag2,tag3,tag4,tag5
0,蔡徐坤 - 情人,7.3,蔡徐坤,2020-05-24,单曲,数字(Digital),流行
1,周杰伦 - 七里香,8.1,周杰伦,2004,专辑,CD,流行
2,田馥甄 - 无人知晓,7.8,田馥甄,2020-09-25,专辑,CD,流行
3,蔡健雅 Tanya Chua... - 在哪里都很好,8.6,"蔡健雅 Tanya Chua,王源 Roy Wang",2020-11-05,单曲,数字(Digital),流行
4,鹿晗 Luhan - π-volume.4,8.4,鹿晗 Luhan,2020-10-27,EP,数字(Digital),流行

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2360 entries, 0 to 2359
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   2360 non-null   object
 1   score   2360 non-null   float64
 2   tag1    2360 non-null   object
 3   tag2    2360 non-null   object
 4   tag3    2360 non-null   object
 5   tag4    2360 non-null   object
 6   tag5    2360 non-null   object
dtypes: float64(1), object(6)
memory usage: 129.2+ KB

In [11]:
df.loc[df['tag3'].str.contains('单曲'),'type'] = 1
df.loc[df['tag3'].str.contains('选集'),'type'] = 2
df.loc[df['tag3'].str.contains('专辑'),'type'] = 2
df.loc[df['tag3'].str.contains('Import'),'type'] = 2
df.loc[df['tag3'].str.contains('Soundtrack'),'type'] = 2
df.loc[df['tag3'].str.contains('非发行歌曲'),'type'] = 1
df.loc[df['tag3'].str.contains('EP'),'type'] = 2
df.loc[df['tag3'].str.contains('Single'),'type'] = 1
df.loc[df['tag3'].str.contains('CD-single'),'type'] = 1
df.loc[df['tag3'].str.contains('Enhanced'),'type'] = 2
df.loc[df['tag3'].str.contains('Explicit Lyrics'),'type'] = 2

In [12]:
df = df.drop(['tag3'], axis=1)
df = df.dropna(axis=0, how='any')

In [13]:
df['time'] = df['tag2'].str[0:5]
df['TIME'] = df.time.apply(lambda x: 1 if '01 J' in x else 0)
df.loc[df['time'].str.contains('01 J'),'TIME'] = 1
df.loc[df['time'].str.contains('June'),'TIME'] = 1
df.loc[df['time'].str.contains('Sept'),'TIME'] = 1
df.loc[df['time'].str.contains('Apri'),'TIME'] = 1
df.loc[df['TIME'] == 1, 'time'] = df['tag2'].str[-5:]

In [14]:
df = df.drop(['TIME'], axis=1)
df = df.drop(['tag2'], axis=1)

In [15]:
df.loc[df['score'] > 8.5, 'label'] = 2
df.loc[df['score'] < 8.5, 'label'] = 1
df.loc[df['score'] == 8.5, 'label'] = 1
df.loc[df['score'] == 7, 'label'] = 0
df.loc[df['score'] < 7, 'label'] = 0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2285 entries, 0 to 2359
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   2285 non-null   object
 1   score   2285 non-null   float64
 2   tag1    2285 non-null   object
 3   tag4    2285 non-null   object
 4   tag5    2285 non-null   object
 5   type    2285 non-null   float64
 6   time    2285 non-null   object
 7   label   2285 non-null   float64
dtypes: float64(3), object(5)
memory usage: 240.7+ KB

In [17]:
df['author1'] = df['tag1'].str.split(',').str[0]
df['author2'] = df['tag1'].str.split(',').str[1]
df['author3'] = df['tag1'].str.split(',').str[2]

In [18]:
df = df.drop(['tag1'], axis=1)
df.head()

,title,score,tag4,tag5,type,time,label,author1,author2,author3
0,蔡徐坤 - 情人,7.3,数字(Digital),流行,1.0,2020,1.0,蔡徐坤,NaN,NaN
1,周杰伦 - 七里香,8.1,CD,流行,2.0,2004,1.0,周杰伦,NaN,NaN
2,田馥甄 - 无人知晓,7.8,CD,流行,2.0,2020,1.0,田馥甄,NaN,NaN
3,蔡健雅 Tanya Chua... - 在哪里都很好,8.6,数字(Digital),流行,1.0,2020,2.0,蔡健雅 Tanya Chua,王源 Roy Wang,NaN
4,鹿晗 Luhan - π-volume.4,8.4,数字(Digital),流行,2.0,2020,1.0,鹿晗 Luhan,NaN,NaN

In [19]:
x = pd.DataFrame()
x = df[df['type'] == 1]
print(x.head())
x.to_csv('Single.csv',index=False)

                        title  score           tag4 tag5  type   time  label  \
0                    蔡徐坤 - 情人    7.3   数字(Digital)    流行   1.0   2020    1.0
3  蔡健雅 Tanya Chua... - 在哪里都很好    8.6   数字(Digital)    流行   1.0   2020    2.0
5           林俊杰 JJ Lin - 交換餘生    7.5   数字(Digital)    流行   1.0   2020    1.0
7                   朴树 - 平凡之路    8.9   数字(Digital)    原声   1.0   2014    2.0
8          王源 Roy Wang - 鱼缸旅馆    8.7   数字(Digital)    流行   1.0   2020    2.0

          author1       author2 author3
0            蔡徐坤            NaN     NaN
3  蔡健雅 Tanya Chua  王源 Roy Wang      NaN
5     林俊杰 JJ Lin            NaN     NaN
7             朴树            NaN     NaN
8    王源 Roy Wang            NaN     NaN

In [20]:
x1 = pd.DataFrame()
x1 = df[df['type'] == 2]
print(x1.head())
x1.to_csv('Album.csv',index=False)

                       title  score           tag4 tag5  type   time  label  \
1                  周杰伦 - 七里香    8.1            CD    流行   2.0   2004    1.0
2                 田馥甄 - 无人知晓    7.8            CD    流行   2.0   2020    1.0
4      鹿晗 Luhan - π-volume.4    8.4   数字(Digital)    流行   2.0   2020    1.0
6   林俊杰 JJ Lin - 幸存者 Drifter    7.3   数字(Digital)    流行   2.0   2020    1.0
10                 周杰伦 - 范特西    9.2            CD    流行   2.0   2001    2.0

        author1 author2 author3
1          周杰伦      NaN     NaN
2          田馥甄      NaN     NaN
4     鹿晗 Luhan      NaN     NaN
6   林俊杰 JJ Lin      NaN     NaN
10         周杰伦      NaN     NaN

In [21]:
df['author'] = df['title'].str.split(' - ').str[0]
df['song'] = df['title'].str.split(' - ').str[1]
df = df.drop(['author'], axis=1)
df = df.drop(['title'], axis=1)

In [22]:
df.to_csv("df.csv",index =False)